* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color:#333;
}

.header-box {

    display: flex;
    justify-content: space-between;
    font-size: 25px;
    background-color: aqua;
   
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
 display: flex;
 align-items: center;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
}


h1 {
    font-size: 45px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

.button {
    font-size: 20px;
}

.hidden {
    display: none;
}